@font-face{
    font-family: Bebas-Neue;
    src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
    font-style: normal;
}

h3 {
    font-family: "Bebas-Neue";
}

#mainHeading{
    color: red;
    
}
.title-container{
    font-family: "Bebas-Neue";
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    min-width: 154;
}

.generic-header{
    justify-content: bottom;
    margin: 0px;
}
.header-secondtitle{
    justify-content: top;
    margin: 0px;
    white-space: nowrap;
}

#header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.header-image-div{
    margin: 0px;
    padding: 0px;
}
.headerImage1{
    
    background-image: url("./pictures/rwandan_flag.gif");
    background-size: cover;
    background-position: center;
    height: 10vh;
    width: 25vw;
    background-repeat: no-repeat;
    min-width: 80px;
    min-height: 55px;
    max-width: 130px;
    max-height: 60px;
    margin: 0px;

}

.headerImage2{
    background-image: url("./pictures/uganda-flag.gif");
    background-size: cover;
    background-position: center;
    height: 10vh;
    width: 25vw;
    background-repeat: no-repeat;
    min-width: 80px;
    min-height: 55px;
    max-width: 130px;
    max-height: 60px;
    margin: 0px;
}

.uganda-map img{
    width: 100%;
    height: auto;
    max-width: 180px;
    max-height: 190px;
    display: block;
    margin: 0 auto;
}

nav{
    height: 20px;
    width: 100%;
    border: 2px dashed red;
}
main{
    display: flex;
    flex-direction: column;
    background-color: rgb(229 229 229)
}
.body-contents-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 15px;
    padding: 5px;
    margin: 5px;
}

.section {
    width: 100%;
    height: 100%;
}
.ul-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
    box-shadow: 2px 2px 3px;
    margin: 5px;
    padding: 5px;
    border: 1px solid black
}

li {
    
    min-height: 20px;
    min-width: 100px;
    list-style: none;
    box-shadow: 5px 5px 10px;
    padding: 3px;
}

/* .hq-raft{
    
} */
.hq-raft img{
    width: 100%;
    height: auto;
    max-width: 180px;
    max-height: 190px;
    display: block;
    margin: 0 auto;
}
.funParagraph{
    color: green;
    box-shadow: 5px 5px 10px;
    padding: 3px;
    /* that box isn't popping for some unknown reason */
}
#feet{
    border: 2px solid red;
    padding: 2%;
}

